html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.flex-grow-1 {
    font-size: larger;
    font-weight: 600;
}

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.products img{
    height: 300px;
    object-fit: contain;
    padding: 1rem;
}